@model IEnumerable<Staff>

<table id="staffTable" class="table table-hover table-bordered align-middle">
    <thead class="table-success text-center">
        <tr>
            <th>Họ tên</th>
            <th>Ngày sinh</th>
            <th>Giới tính</th>
            <th>Số điện thoại</th>
            <th>Chức vụ</th>
            <th>Thao tác</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Staff item in Model)
        {
            <tr>
                <td>
                    <a href="/#" class="text-dark text-decoration-none fw-bold">@item.StaffName</a></td>
                <td>@item.Birthday.ToShortDateString()</td>
                <td>@item.Sex</td>
                <td>@item.Phone</td>
                <td>@item.Position.PositionName</td>
                <td>
                    <div class="d-flex justify-content-center gap-2">
                        <button class="btn btn-sm btn-primary" title="Sửa" onclick="showEditModal('@item.StaffId')">
                            <i class="bi bi-pencil-fill"></i>
                        </button>
                        <button class="btn btn-sm btn-danger" title="Xóa" onclick="DeleteStaff('@item.StaffId')">
                            <i class="bi bi-trash"></i>
                        </button>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
