@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Quản lý khách hàng";
}

<h1>Quản lý khách hàng</h1>
<div class="container mt-5">
    <div class="">
        <table class="table table-sm table-bordered position-sticky">
            <thead class="table table-success">
                <tr>
                    <td class="text-center fw-bold">Họ tên</td>
                    <td class="text-center fw-bold">Giới tính</td>
                    <td class="text-center fw-bold">Ngày sinh</td>
                    <td class="text-center fw-bold">Số điện thoại</td>
                    <td class="text-center fw-bold">Email</td>
                    <td class="text-center fw-bold">Địa chỉ</td>
                    <td class="text-center fw-bold">Thao tác</td>
                </tr>
            </thead>
            <tbody>
                @foreach(UserModel item in Model)
                {
                    <tr>
                        <td class="text-center">
                            <a href="/#" class="link-underline-dark text-dark">@item.UName</a>
                        </td>
                        <td class="text-center">@item.Sex</td>
                        <td class="text-center">@item.Birthday.ToShortDateString()</td>
                        <td class="text-center">@item.SDT</td>
                        <td class="text-center">@item.Email</td>
                        <td class="text-center">@item.Address</td>
                        <td class="text-center">
                            <div class="row justify-content-center">
                                <button class="btn btn-sm btn-warning col-3 ms-1"><i class="bi bi-pencil-fill"></i></button>
                                <button class="btn btn-sm btn-warning col-3 ms-1"><i class="bi bi-trash"></i></button>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<style>
    a:hover {
        color: black;
        cursor: pointer;
    }
</style>